/* header */
.header {
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url('../../assets/img/header-1.jpeg') center no-repeat;
    background-size: cover;
}
/* end of header */
