/* .about-us-btn {
    width: 15rem;
    padding: 0.7rem 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #b85d1c;
    background-color: transparent;
    border: 0.1rem solid #b85d1c;
    outline: none;
    cursor: pointer;
} */
