/* media queries */
@media (max-width: 1400px) {
    /* customer section */
    .customers-card-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .customer-card:first-child {
        margin-bottom: 3rem;
    }

    /* footer section */
    .main-part {
        flex-direction: column;
    }
    .footer-list {
        display: flex;
    }
    .footer-list-item {
        margin-right: 3rem;
    }
}

@media (max-width: 1200px) {
    /* about us section */
    .about-us {
        flex-direction: column;
        padding-bottom: 20rem;
    }
    .about-us-content {
        margin-bottom: 13rem;
    }
    .image {
        width: 25rem;
    }
    .image-1 {
        transform: translate(-45%, -95%);
    }
    .image-4 {
        transform: translate(-37%, -30%);
    }
}

@media (max-width: 900px) {
    /* banner */
    .banner {
        text-align: center;
    }
    .banner-heading {
        font-size: 4.7rem;
    }
    .banner-paragraph {
        font-size: 2.6rem;
    }
    .banner-btn {
        width: 16rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 750px) {
    /* customer card */
    .customer-card {
        flex-direction: column;
        width: 20rem;
    }
    .customer-image {
        margin-left: 0;
    }

    /* footer section */
    .footer-list {
        display: block;
    }
}
/* end of media queries */
